* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
}

.header { 
    position: fixed;
    width: 100%;
    background-color:#343435;
    display: flex;
    justify-content: space-between;  
    font-size: 2rem;
    height: 120px;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 30px;
}

.header__menu {
   margin-right: 50px;
}


.header__menu-categorias-desplegadas {
    display: none;
}
.header__menu-lista {
    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
    
}
.header__menu-lista-item {
    display: inherit;
    align-items: center;
    margin: 0 5px;
    list-style: none;
    height: 80px;
    
    color: whitesmoke;
    
}

.header__menu-lista-item a {
    display: inline-block;
    list-style: none;
    color: inherit;
    text-decoration: none;
    padding: 20px 20px;
}

.header__menu-lista-item:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.header__menu-lista-item--desplegar {
    position: relative;
    display: flexbox;
    z-index: 1;
}

.header__menu-lista-item--desplegar:hover .header__menu-lista-item--categoria {
    display: block;
    
}
.header__titulo {
    font-size: 5rem;
    font-weight: bold;
}
.header__titulo-peque {
    align-self: flex-end;
    font-size: 3rem;
}

.header__logo {
    padding: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.header__menu-lista-item--categoria {
    top: 80px;
    left: -15px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    
}
.header__menu-lista-item--categoria li {
    list-style: none;
}
.header__menu-lista-item--categoria li:hover {
    background-color: rgb(209, 209, 209);
}

.header__menu-lista-item--categoria a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header-img {
    width: 100%;
    height: 40vh;
    background-image: url("./../assets/fondo.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; 
    margin-bottom: 50px;
}

.container {
    font-size: 2.4rem;
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: rgba(240, 239, 239, 0.459);
    padding: 40px;
    margin-top: 20px;

}

.container-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

.card-terapia {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    border: solid 1px rgba(189, 189, 189, 0.637);
    box-shadow: 10px 5px 5px rgb(112, 112, 112);;
    padding: 50px 40px;
    margin: 50px auto;

}
.card-terapia:hover{
    -webkit-transform:scale(1.3);transform:scale(1.03);
}

.card-terapia__img {
    width: 90%;
    margin: auto;
    border-radius: 5px;
}



.card-terapia__texto {
    width: 80%;
    font-size: 2rem;
    text-align: left;
    margin: 0 auto;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 2rem;
    height: 80px;
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    text-align: center;
 }

 /* Estilos del formulario */

 form {
     display: flex;
     justify-content: space-around;
     flex-direction: column;
     align-items: center;
     background-color: white;
     width: 40%;
     height: 500px;
     padding: 30px;
     margin: 0 auto;
     border: solid 1px black;
     border-radius: 5px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 }

 form button {
     width: 150px;
     height: 40px;
     border-radius: 10px;
 }

 form input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

/* medicos complejos*/
.left {
    display: flex;
    text-align: left;
    text-decoration: none;
    margin-left: 80px;
    flex-direction: column; 
}

.container-texto {
    text-align: left;
}

.homeopatia-img {
    width: 20%;
}
.naturoterapia-img {
    width: 40%;
}

.texto-izquierda {
    text-align: left;
    margin-left: 20px;

}